.contact {
  width: 100%;
  padding: 80px 0px;
  margin-left: 200px;

  @include breakpoint-up(large) {
    width: 60%;
  }

  @include breakpoint-down(medium) {
    display: none;
  }

  &__intro {
    h2 {
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: $font-xlg;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: $lightBlue;

      @include breakpoint-down(medium) {
        text-align: center;
      }
    }

    p {
      width: 437px;
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: $font-med;
      line-height: 28px;
      color: $lightBlue;

      @include breakpoint-down(medium) {
        width: 100%;
        text-align: center;
      }
    }

    @include breakpoint-down(medium) {
      padding: 4.375rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
