.solutions {
  background-color: $lightBlue;
  &__intro {
    width: 100%;
    h3 {
      text-align: center;
      color: $darkBlue;
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.03em;
      margin-bottom: 40px;
    }
  }
  .carousel {
    &-cell {
      padding-right: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:not(:first-child) {
        padding-left: 45px;
      }

      img {
        width: 142px;
        height: 142px;
      }

      p {
        width: 161px;
        height: 57px;

        font-family: "Public Sans";
        font-style: normal;
        font-weight: 700;
        font-size: $font-sm;
        line-height: 19px;
        text-align: center;
        color: $darkBlue;
      }
    }

    .flickity-button {
      background: none;
      color: $darkBlue;
    }
  }

  .flickity-enabled {
    @include breakpoint-up(large) {
      position: relative;
      width: 100%;
      // margin-left: 82%;
      // transform: translateX(-91%);
    }
  }

  .flickity-viewport {
    @include breakpoint-up(large) {
      position: relative;
      width: 85%;
      margin-left: 81%;
      transform: translateX(-87%);
    }
  }

  .flickity-slider {
    @include breakpoint-up(medium) {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .flickity-page-dots {
    @include breakpoint-down(medium) {
      display: none;
    }
  }
}
