.solutions {
  background-color: $lightBlue;
  &__intro {
    width: 100%;
    h3 {
      text-align: center;
      color: $darkBlue;
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.03em;
      margin-bottom: 40px;
    }
  }
  .carousel {
    &-cell {
      margin-right: 10px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 162px;
        height: 162px;
      }

      p {
        width: 161px;
        height: 57px;

        font-family: "Public Sans";
        font-style: normal;
        font-weight: 700;
        font-size: $font-sm;
        line-height: 19px;
        text-align: center;
        color: $darkBlue;
      }
    }

    .flickity-button {
      background: none;
      color: $darkBlue;
    }
  }

  .flickity-enabled {
    position: relative;
    width: 80%;
    margin-left: 80%;
    transform: translateX(-87%);
  }

  .flickity-viewport {
    position: relative;
    width: 83%;
    margin-left: 80%;
    transform: translateX(-87%);
  }
}
