.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Ruda", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #c4c4c4;
  line-height: 1.3;
  min-height: 300vh;
  overflow-x: hidden;
}
@media (min-width: 64em) {
  body {
    font-size: 1.5rem;
  }
}
body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #508ca2;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 90.375rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 3rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-fs {
  justify-content: flex-start;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

button,
.button {
  width: 311px;
  height: 68px;
  display: inline-block;
  padding: 10px 24px;
  background: none;
  border: 1px solid #eab281;
  border-radius: 100px;
  cursor: pointer;
  color: #eab281;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  margin-top: 25px;
}
button:hover,
.button:hover {
  background: #eab281;
  color: #0f1a2d;
}
@media (max-width: 63.9375em) {
  button,
.button {
    font-size: 12px;
  }
}

form,
.form {
  width: 528px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #508ca2;
  position: absolute;
  padding: 53px 100px;
  left: 55%;
  top: 83.8%;
}
@media (max-width: 63.9375em) {
  form,
.form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: all 500ms ease-in-out;
  }
  form h3,
.form h3 {
    margin-top: 50px;
  }
  form button,
.form button {
    width: 100%;
  }
  form::-webkit-scrollbar,
.form::-webkit-scrollbar {
    display: none;
  }
}
form .closeBtn,
.form .closeBtn {
  margin-top: 0px;
  color: #0f1a2d;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
form .closeBtn:hover,
.form .closeBtn:hover {
  color: red;
}
form .error,
.form .error {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  color: #f24463;
}
form h3,
.form h3 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #0f1a2d;
}
form__input,
.form__input {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
form__input:not(:last-child),
.form__input:not(:last-child) {
  margin-bottom: 16px;
}
form label,
.form label {
  position: absolute;
  height: 12px;
  left: 12px;
  top: -8px;
  bottom: 0%;
  z-index: 999;
  background: #508ca2;
  color: #0f1a2d;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
form input,
.form input {
  height: 56px;
  padding: 24px 48px;
  border: 1px solid #0f1a2d;
  box-sizing: border-box;
  border-radius: 4px;
  background: none;
  padding: 10px 24px;
  color: #0f1a2d;
  transition: all 300ms ease-in-out;
}
form input::-moz-placeholder, .form input::-moz-placeholder {
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form input:-ms-input-placeholder, .form input:-ms-input-placeholder {
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form input::placeholder,
.form input::placeholder {
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form input:focus, form input:hover,
.form input:focus,
.form input:hover {
  border: 1px solid #eab281;
  outline: none;
}
form input:focus + label,
.form input:focus + label {
  color: #eab281;
}
form textarea,
.form textarea {
  height: 130px;
  background: none;
  resize: none;
  outline: none;
  padding: 12px 20px;
  border: 1px solid #0f1a2d;
  border-radius: 4px;
  font-family: "Public Sans";
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form textarea::-moz-placeholder, .form textarea::-moz-placeholder {
  font-family: "Public Sans";
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form textarea:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  font-family: "Public Sans";
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form textarea::placeholder,
.form textarea::placeholder {
  font-family: "Public Sans";
  color: #0f1a2d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
form textarea:focus, form textarea:hover,
.form textarea:focus,
.form textarea:hover {
  border: 1px solid #eab281;
  outline: none;
}
form textarea:focus + label,
.form textarea:focus + label {
  color: #eab281;
}
form button,
.form button {
  width: 100%;
  height: 68px;
  background: #eab281;
  color: #0f1a2d;
  margin: 12px 0px;
  padding: 24px 48px;
}
form button:hover,
.form button:hover {
  border: 1px solid #0f1a2d;
  color: #eab281;
  background: #0f1a2d;
}
form p,
.form p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #012c46;
  text-align: left;
}
form p span,
.form p span {
  color: #0f1a2d;
}

.server_message_error {
  position: fixed;
  z-index: 1;
  left: 50%;
  margin-left: -175px;
  top: 5%;
  width: 350px;
  display: none;
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #f24463;
}
@media (min-width: 64em) {
  .server_message_error {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -225px;
    top: 5%;
    width: 450px;
  }
}
.server_message_error p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.125rem;
}
.server_message_error a,
.server_message_error button,
.server_message_error .button {
  padding: 5px 12px;
  background: hsl(0deg, 0%, 100%);
  color: #f24463;
  border-radius: 5px;
  border: 1px solid hsl(0deg, 0%, 100%);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.server_message_error a:hover,
.server_message_error button:hover,
.server_message_error .button:hover {
  background: none;
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}
.server_message_error span {
  margin-top: 20px;
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.server_message_error span:hover {
  color: #0f1a2d;
}
.server_message_success {
  position: fixed;
  z-index: 1;
  left: 50%;
  margin-left: -175px;
  top: 5%;
  width: 350px;
  display: none;
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #1ec264;
}
@media (min-width: 64em) {
  .server_message_success {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -225px;
    top: 5%;
    width: 450px;
  }
}
.server_message_success p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.125rem;
}
.server_message_success a {
  padding: 1px 12px;
  background: hsl(0deg, 0%, 100%);
  color: #1ec264;
  border-radius: 5px;
  border: 1px solid hsl(0deg, 0%, 100%);
  transition: all 300ms ease-in-out;
}
.server_message_success a:hover {
  background: none;
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}
.server_message_success span {
  margin-top: 20px;
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.server_message_success span:hover {
  color: #0f1a2d;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.2;
  background: url(/img/1920.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero {
  background-color: #0f1a2d;
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
    height: 71vh;
    padding-top: 0;
  }
}
.hero__image {
  position: absolute;
  top: 4.8%;
  left: 55%;
}
.hero__image video {
  width: 532px;
  height: 330px;
}
@media (max-width: 63.9375em) {
  .hero__image {
    position: relative;
    width: 100%;
    left: 0;
  }
  .hero__image video {
    width: 100%;
    height: 200px;
  }
}
.hero__text {
  text-align: center;
  padding-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
}
.hero__text img {
  width: 163px;
  height: 98px;
  margin-bottom: 50px;
}
.hero__text h1 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
}
.hero__text h1 span {
  color: #eab281;
}
.hero__text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #508ca2;
  margin-bottom: 25px;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
    padding-left: 95px;
  }
  .hero__text h1 {
    width: 700px;
    font-weight: 900;
    font-size: 4.5rem;
    margin-bottom: -10px;
  }
  .hero__text p {
    width: 430px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    color: #508ca2;
  }
}

.feature {
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
}
@media (min-width: 40em) {
  .feature {
    text-align: left;
    padding-bottom: 5rem;
  }
}
.feature__intro {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 32px;
  text-align: center;
}
.feature__intro h3 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #0f1a2d;
}
@media (min-width: 40em) {
  .feature__grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 18px;
    height: 350px;
  }
}
.feature__card {
  width: 100%;
  height: 100%;
  padding: 40px;
  border: 1px solid #508ca2;
  border-radius: 20px;
  margin-bottom: 20px;
}
.feature__card:nth-child(2) {
  padding: 10px 40px;
}
.feature__card__logo {
  background: none;
}
.feature__card__logo img {
  width: 200px;
  height: 80px;
}
.feature__card__logo img :last-child {
  width: 50px;
  height: 80px;
}
.feature__card__content p {
  width: 100%;
  font-size: 1.125rem;
  color: #0f1a2d;
}
.feature__card__info {
  display: flex;
  justify-content: flex-start;
}
.feature__card__info img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}
.feature__card__info .author {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 63.9375em) {
  .feature__card__info .author {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.feature__card__info h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: #012c46;
}
.feature__card__info p {
  margin: 0;
  font-size: 1.125rem;
}
@media (min-width: 40em) {
  .feature__card {
    width: 49%;
    margin: 0 auto;
  }
}

.articles {
  background-color: #eab281;
}

.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.575rem;
}
@media (min-width: 40em) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.article__item {
  overflow: hidden;
  background: none;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.article__title {
  width: 65%;
  font-size: 1.0625rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  text-align: start;
}
.article__title h1 {
  font-weight: 900;
  color: #012c46;
}
@media (max-width: 63.9375em) {
  .article__title h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: #012c46;
    margin-top: 35px;
  }
}
.article__description {
  width: 280px;
  height: 100%;
  color: #012c46;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.article__description span {
  font-weight: 900;
  font-style: bold;
  font-size: 26px;
}
@media (max-width: 63.9375em) {
  .article__description {
    text-align: center;
  }
}

.clients__intro {
  width: 100%;
}
.clients__intro h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #0f1a2d;
}
.clients__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  margin: 0 auto;
}
.clients__images img {
  margin: 0 auto;
  height: 80px;
}
@media (min-width: 40em) {
  .clients__images {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 64em) {
  .clients__images {
    grid-template-columns: repeat(6, 1fr);
    gap: 0.875rem;
  }
}

.solutions {
  background-color: #508ca2;
}
.solutions__intro {
  width: 100%;
}
.solutions__intro h3 {
  text-align: center;
  color: #0f1a2d;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.solutions .carousel-cell {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solutions .carousel-cell:not(:first-child) {
  padding-left: 45px;
}
.solutions .carousel-cell img {
  width: 142px;
  height: 142px;
}
.solutions .carousel-cell p {
  width: 161px;
  height: 57px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 19px;
  text-align: center;
  color: #0f1a2d;
}
.solutions .carousel .flickity-button {
  background: none;
  color: #0f1a2d;
}
@media (min-width: 64em) {
  .solutions .flickity-enabled {
    position: relative;
    width: 100%;
  }
}
@media (min-width: 64em) {
  .solutions .flickity-viewport {
    position: relative;
    width: 85%;
    margin-left: 81%;
    transform: translateX(-87%);
  }
}
@media (min-width: 40em) {
  .solutions .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 63.9375em) {
  .solutions .flickity-page-dots {
    display: none;
  }
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #012c46;
}
.banner__intro h3 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  color: #eab281;
}
.banner__content h1 {
  width: 100%;
  margin-top: 32px;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  /* or 72px */
  text-align: center;
  letter-spacing: -0.03em;
  color: #eab281;
}
@media (max-width: 63.9375em) {
  .banner__content h1 {
    font-size: 4rem;
  }
}
.banner__cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__cta button {
  border: 1px solid #508ca2;
  color: #508ca2;
}
.banner__cta button:hover {
  border: 1px solid #eab281;
  color: #eab281;
  background: none;
}

.contact {
  width: 100%;
  height: 360px;
  padding: 0px;
  margin-left: 91px;
}
@media (min-width: 64em) {
  .contact {
    width: 60%;
  }
}
@media (max-width: 63.9375em) {
  .contact {
    display: none;
  }
}
.contact__intro {
  padding-top: 78px;
}
.contact__intro h2 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #508ca2;
}
@media (max-width: 63.9375em) {
  .contact__intro h2 {
    text-align: center;
  }
}
.contact__intro p {
  width: 437px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  color: #508ca2;
}
@media (max-width: 63.9375em) {
  .contact__intro p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 63.9375em) {
  .contact__intro {
    padding: 4.375rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  background-color: #0f1a2d;
  height: 368px;
  color: hsl(0deg, 0%, 100%);
  padding-left: 5.5rem;
  padding-top: 2.5rem;
  text-align: center;
}
@media (max-width: 63.9375em) {
  .footer {
    padding: 25px 0px;
  }
}
.footer__content {
  width: 100%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__content img {
  width: 163px;
  height: 98px;
  margin-top: 25px auto;
}
@media (min-width: 64em) {
  .footer__content img {
    margin-right: 25px;
    margin-top: 28px;
    width: 163px;
    height: 98px;
  }
}
@media (max-width: 63.9375em) {
  .footer__content .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__content .location {
  color: #eab281;
  font-size: 1.125rem;
  margin-top: 45px;
}
.footer__content .location h3 {
  width: 200px;
  margin: 0px;
  text-align: start;
  color: #eab281;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-align: center;
}
@media (min-width: 64em) {
  .footer__content .location h3 {
    margin: 5px auto;
    text-align: start;
  }
}
.footer__content .location p {
  text-align: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  margin: 1px auto;
}
@media (min-width: 64em) {
  .footer__content .location p {
    text-align: start;
  }
}
.footer__content .powered h3 {
  color: #eab281;
  margin-bottom: 0px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-align: start;
}
@media (max-width: 63.9375em) {
  .footer__content .powered h3 {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .footer__content {
    width: 30%;
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */