<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AR Turismo</title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="/src/scss/style.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&family=Ruda:wght@400;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Flickity -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />

    <!-- FavIcons -->
    <link
      rel="shortcut icon"
      href="/src/img/favicon.svg"
      type="image/x-icon"
      sizes="144x144"
    />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <div class="hero__image"></div>

        <div class="hero__text container--pall">
          <img src="/src/img/logo.png" alt="Logo Ar Viagens" />
          <h1>Viagens <span>sem burocracia</span> e com mais economia</h1>
          <p>
            Venda de passagens, reservas em hotel e pacotes completos de viagens
            em um só lugar.
          </p>
          <button type="button">QUERO VIAJAR SEM BUROCRACIA</button>
        </div>
      </div>
    </section>

    <section class="feature container container--px container--pb">
      <div class="feature__intro">
        <h3>Veja o que estão falando sobre nós</h3>
      </div>
      <div class="feature__grid">
        <div class="feature__card">
          <div class="feature__card__logo">
            <img
              src="/src/img/AMBIENTALIS -engenharia.png"
              alt="Ambientalis Logo"
            />
          </div>
          <div class="feature__card__content">
            <p>
              A AR Viagens nos atende como se fosse a extensão de nossa empresa,
              busca compreender nossas demandas de forma muito eficiente,
              garantindo segurança, preços e atendimento excepcionais
            </p>
          </div>
          <div class="feature__card__info">
            <img src="/src/img/cardAuthor.png" alt="Card Author Image" />
            <div class="author">
              <h3>Silvia Sobrenome</h3>
              <p>Cargo da Silvia</p>
            </div>
          </div>
        </div>
        <div class="feature__card">
          <div class="feature__card__logo">
            <img
              src="/src/img/PROVEL -vistoria.png"
              alt="Provel Vistoria Logo "
            />
          </div>
          <div class="feature__card__content">
            <p>
              Atendimento ótimo e personalizado , atenção nos momentos que mais
              precisamos e a qualquer horário , o que faz a diferença pra
              confiar sempre que estaremos tranquilos pra voar.
            </p>
          </div>
          <div class="feature__card__info">
            <img src="/src/img/cardAuthor.png" alt="Card Author Image" />
            <div class="author">
              <h3>Evandro Guarani</h3>
              <p>Cargo do Evandro</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="articles">
      <div class="article__content container container--pall">
        <div class="article__grid">
          <div class="article__item">
            <div class="article__title">
              <h1>Why?</h1>
            </div>
            <div class="article__description">
              Para simplificar os processos de gestão de viagens, minimizar
              custos e levar experiência para as viagens com o que há de mais
              moderno no setor.
            </div>
          </div>
          <div class="article__item">
            <div class="article__title">
              <h1>How?</h1>
            </div>
            <div class="article__description">
              Através da tecnologia e inteligencia de mercado buscamos nos
              maiores de aéreo e terrestres garantindo assim os menores preços.
            </div>
          </div>
          <div class="article__item">
            <div class="article__title">
              <h1>What?</h1>
            </div>
            <div class="article__description">
              Oferecem os melhores preços em passagens aéreas, terrestres e
              hotéis, além da gestão completa da viagem, em uma solução
              all-in-one.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="clients container container--pall">
      <div class="clients__intro">
        <h3>Conheça quem já se beneficia e é nosso cliente</h3>
      </div>
      <div class="clients__images flex flex-jc-sb container container--px">
        <img
          src="/src/img/AMBIENTALIS -engenharia.png"
          alt="Ambientalis Engenharia"
        />
        <img
          src="/src/img/CK -construtora_Prancheta 1.png"
          alt="CK Construtora"
        />
        <img src="/src/img/MENU POKE_Prancheta 1.png" alt="Menu Poke" />
        <img src="/src/img/TR Log-transportes.png" alt="TR Log Transportes" />
        <img src="/src/img/RUPUS logistica.png" alt="Rupus Logistica" />
        <img src="/src/img/PROVEL -vistoria.png" alt="Provel Vistorias" />
      </div>
    </section>

    <section class="solutions container container--pall">
      <div class="solutions__intro">
        <h3>A solução completa para viagens corporativas</h3>
      </div>
      <div class="carousel" data-flickity='{ "groupCells": true }'>
        <div class="carousel-cell">
          <img src="/src/img/ico-hospedagem.png" alt="Hospedagem" />
          <p>Hospedagens nacionais e internacionais</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-passages-aereas.png" alt="Passagens Aereas" />
          <p>Passagens Aéreas nacionais e internacionais</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-passagens.png" alt="Passagens Rodoviárias" />
          <p>Passagens Rodoviárias</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-checkin.png" alt="Check-in antecipado" />
          <p>Check-in antecipado</p>
        </div>
        <div class="carousel-cell">
          <img
            src="/src/img/ico-vistos-consulares.png"
            alt="Vistos Consulares"
          />
          <p>Vistos Consulares translado e receptivo</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-gestao-de-custos.png" alt="gestao de custos" />
          <p>Gestão de Custo</p>
        </div>
        <div class="carousel-cell">
          <img
            src="/src/img/ico-pacotes-viagens.png"
            alt="Pacotes de Viagens"
          />
          <p>Pacotes Personalizados e viagens de incentivo</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-seguro-viagem.png" alt="Seguro Viagem" />
          <p>Seguro Viagem</p>
        </div>
        <div class="carousel-cell">
          <img
            src="/src/img/ico-locacao-de-veiculos.png"
            alt="Locacao de Veiculos"
          />
          <p>
            Locação de Veículos nacionais e internacionais com ou sem motoristas
          </p>
        </div>
        <div class="carousel-cell">
          <img
            src="/src/img/ico-cruzeiros-marítimos.png"
            alt="Cruzeiros Maritimos"
          />
          <p>Cruzeiros</p>
        </div>
        <div class="carousel-cell">
          <img
            src="/src/img/ico-atendimento-24h.png"
            alt="Atendimento 24horas"
          />
          <p>Atendimento emergencial 24h</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-menor-preco.png" alt="Menor Preco" />
          <p>Menor Preço</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-pontuacao.png" alt="Pontuacao" />
          <p>Pontuação em produtos de fidelidade</p>
        </div>
        <div class="carousel-cell">
          <img
            src="/src/img/ico-congresso-e-evento.png"
            alt="Congressos e Eventos"
          />
          <p>Congressos e eventos</p>
        </div>
        <div class="carousel-cell">
          <img src="/src/img/ico-salas-vip.png" alt="Salas Vip" />
          <p>Salas VIP no Brasil e exterior</p>
        </div>
      </div>
    </section>

    <section class="banner container container--pall">
      <div class="banner__intro">
        <h3>
          Existimos para atender viajantes independentes, grupos executivos e
          agências de turismo
        </h3>
      </div>
      <div class="banner__content">
        <h1>Encontre eficiência e controle total na gestão de suas viagens</h1>
      </div>
      <div class="banner__cta">
        <button type="button">QUERO VIAJAR COM ECONOMIA</button>
      </div>
    </section>

    <section class="contact">
      <div class="contact__intro container container--pall">
        <h2>Fale com a gente</h2>
        <p>
          Quer viajar sem burocracias, pagando menos? Envie uma mensagem para a
          gente que um de nossos especialistas fará entrará em contato.
        </p>
      </div>
    </section>

    <form action="" method="post" class="container container--pall">
      <h3>Quero viajar sem burocracia</h3>

      <label for="name">Nome*</label>
      <input type="text" placeholder="Qual seu nome?" />

      <label for="company">Empresa</label>
      <input type="text" placeholder="Digite o nome da sua empresa" />

      <label for="phone">Telefone*</label>
      <input type="text" placeholder="Qual número de seu telefone?" />

      <label for="message">Mensagem*</label>
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        placeholder="Digite sua mensagem"
      ></textarea>

      <button type="submit">Quero Receber Contato</button>
      <p>
        <span>Seus dados estão seguros. </span> Clicando no botão acima você
        autoriza que a empresa AR Viagens faça contato.
      </p>
    </form>

    <footer class="footer">
      <div class="container">
        <a class="footer__logo" href="#">
          <img src="/images/logo-dark.svg" />
        </a>

        <div class="footer__social">
          <a href="#"> </a>
          <a href="#"> </a>
          <a href="#"> </a>
          <a href="#"> </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
              <title>Instagram</title>
              <path
                fill="#FFF"
                d="M10.333 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.976 1.409 4.1 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.058 4.042-.124 2.687-1.386 3.975-4.099 4.099-1.055.048-1.37.058-4.042.058-2.67 0-2.986-.01-4.04-.058-2.717-.124-3.976-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zm0-1.802C7.618 0 7.278.012 6.211.06 2.579.227.56 2.242.394 5.877.345 6.944.334 7.284.334 10s.011 3.057.06 4.123c.166 3.632 2.181 5.65 5.816 5.817 1.068.048 1.408.06 4.123.06 2.716 0 3.057-.012 4.124-.06 3.628-.167 5.651-2.182 5.816-5.817.049-1.066.06-1.407.06-4.123s-.011-3.056-.06-4.122C20.11 2.249 18.093.228 14.458.06 13.39.01 13.049 0 10.333 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.339-9.87a1.2 1.2 0 10-.001 2.4 1.2 1.2 0 000-2.4z"
              />
            </svg>
          </a>
        </div>

        <div class="footer__links col1">
          <a href="#">About Us</a>
          <a href="#">Contact</a>
          <a href="#">Blog</a>
        </div>

        <div class="footer__links col2">
          <a href="#">Careers</a>
          <a href="#">Support</a>
          <a href="#">Privacy Policy</a>
        </div>

        <div class="footer__cta">
          <a href="#" class="button">Request Invite</a>
        </div>

        <div class="footer__copyright">
          &copy; EasyBank. All Rights Reserved.
        </div>
      </div>
      <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="#">Marlon Melo</a>.
      </div>
    </footer>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
