.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $darkBlue;

  &__intro {
    h3 {
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: $font-med;
      line-height: 100%;
      text-align: center;
      color: $orangeIsh;
    }
  }

  &__content {
    h1 {
      width: 100%;
      margin-top: 32px;
      margin-bottom: 64px;
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: $font-xlg;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.03em;
      color: $orangeIsh;

      @include breakpoint-down(medium) {
        font-size: $font-lg;
      }
    }
  }

  &__cta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      border: 1px solid $lightBlue;
      color: $lightBlue;

      &:hover {
        border: 1px solid $orangeIsh;
        color: $orangeIsh;
        background: none;
      }
    }
  }
}
