// Colors
$darkBlue: #0f1a2d;
$lightBlue: #508ca2;
$mediumBlue: #012c46;
$orangeIsh: #eab281;
$grayishBlue: #c4c4c4;
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Red Important
$red: #f24463;

// Green Success
$green: #1ec264;

// Font Sizes
$font-sm: 1.125rem;
$font-med: 1.5rem;
$font-lg: 4rem;
$font-xlg: 4.5rem;
