<!-- This is The BoilerPlate, inserting the content in a body, and all the components we need for every page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>

    <!-- FavIcons -->
    <link rel="shortcut icon" href="/img/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <main><%-include('../partials/flash.ejs') %> <%- body %></main>
  </body>
</html>
