html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Ruda", sans-serif;
  font-size: $font-sm;
  font-weight: 400;
  color: $grayishBlue;
  line-height: 1.3;
  min-height: 300vh;
  overflow-x: hidden;

  @include breakpoint-up(large) {
    font-size: $font-med;
  }

  &.noscroll {
    overflow: hidden;
  }
}

//Texto

h1,
h2,
h3 {
  font-weight: 500;
  font-size: $font-sm;
  line-height: 1.15;
  color: $lightBlue;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;

  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;

  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Espaçamento

.container {
  max-width: 90.375rem;
  margin: 0 auto;

  &--pall {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--py {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &--pt {
    padding-top: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
    }
  }

  &--pr {
    padding-right: 1.5rem;
  }

  &--pb {
    padding-bottom: 4.375rem;

    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }

  &--pl {
    padding-left: 1.5rem;
  }
}

//Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fs {
    justify-content: flex-start;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Buttons

button,
.button {
  display: inline-block;
  padding: 25px 50px;
  background: none;
  border: 1px solid $orangeIsh;
  border-radius: 100px;
  cursor: pointer;
  color: $orangeIsh;
  font-weight: 500;
  font-size: $font-sm;
  transition: all 300ms ease-in-out;
  margin-top: 25px;

  &:hover {
    background: $orangeIsh;
    color: $darkBlue;
  }

  @include breakpoint-down(medium) {
    font-size: 12px;
  }
}

form,
.form {
  width: 600px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $lightBlue;
  position: absolute;
  padding: 53px 100px;
  left: 50%;
  top: 83%;

  @include breakpoint-down(medium) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 30px 10px;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: all 500ms ease-in-out;

    h3 {
      margin-top: 50px;
    }
    button {
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .closeBtn {
    margin-top: 0px;
    color: $darkBlue;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: red;
    }
  }

  .error {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    color: $red;
  }

  h3 {
    font-family: "Ruda";
    font-style: normal;
    font-weight: 900;
    font-size: $font-med;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03em;
    color: $darkBlue;
  }

  &__input {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  label {
    position: absolute;
    height: 12px;
    left: 12px;
    top: -8px;
    bottom: 0%;
    z-index: 999;
    background: $lightBlue;
    color: $darkBlue;

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

  input {
    // width: 345px;
    height: 56px;
    padding: 24px 48px;
    border: 1px solid $darkBlue;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
    padding: 10px 24px;
    color: $darkBlue;
    transition: all 300ms ease-in-out;

    &::placeholder {
      color: $darkBlue;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    &:focus {
      border: 1px solid $orangeIsh;
      outline: none;
    }

    &:focus + label {
      color: $orangeIsh;
    }
  }

  textarea {
    // width: 345px;
    height: 130px;
    background: none;
    resize: none;
    outline: none;
    padding: 12px 20px;
    border: 1px solid $darkBlue;
    border-radius: 4px;
    color: $darkBlue;

    &::placeholder {
      color: $darkBlue;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    &:focus {
      border: 1px solid $orangeIsh;
      outline: none;
    }

    &:focus + label {
      color: $orangeIsh;
    }
  }

  button {
    background: $orangeIsh;
    color: $darkBlue;
    margin: 12px 0px;

    &:hover {
      border: 1px solid $darkBlue;
      color: $orangeIsh;
      background: $darkBlue;
    }
  }

  p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: $mediumBlue;
    text-align: center;

    span {
      color: $darkBlue;
    }
  }
}

.server_message {
  &_error {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -175px;
    top: 5%;
    width: 350px;
    display: none;
    padding: 5px 12px;
    border-radius: 10px;
    color: white;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: $red;

    @include breakpoint-up(large) {
      position: fixed;
      z-index: 1;
      left: 50%;
      margin-left: -225px;
      top: 5%;
      width: 450px;
    }

    p {
      user-select: none;
      font-size: $font-sm;
    }

    a,
    button,
    .button {
      padding: 5px 12px;
      background: $white;
      color: $red;
      border-radius: 5px;
      border: 1px solid $white;
      transition: all 300ms ease-in-out;
      cursor: pointer;

      &:hover {
        background: none;
        border: 1px solid $white;
        color: $white;
      }
    }

    span {
      margin-top: 20px;
      color: $white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $darkBlue;
      }
    }
  }

  &_success {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -175px;
    top: 5%;
    width: 350px;
    display: none;
    padding: 5px 12px;
    border-radius: 10px;
    color: white;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: $green;

    @include breakpoint-up(large) {
      position: fixed;
      z-index: 1;
      left: 50%;
      margin-left: -225px;
      top: 5%;
      width: 450px;
    }

    p {
      user-select: none;
      font-size: $font-sm;
    }

    a {
      padding: 1px 12px;
      background: $white;
      color: $green;
      border-radius: 5px;
      border: 1px solid $white;
      transition: all 300ms ease-in-out;

      &:hover {
        background: none;
        border: 1px solid $white;
        color: $white;
      }
    }

    span {
      margin-top: 20px;
      color: $white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $darkBlue;
      }
    }
  }
}

// Responsivo

.hide-for-mobile {
  // tablet e telefones
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //versão para computadores
  @include breakpoint-up(large) {
    display: none;
  }
}
