.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Ruda", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #c4c4c4;
  line-height: 1.3;
  min-height: 300vh;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.5rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #508ca2;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 90.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 25px 50px;
  background: none;
  border: 1px solid #eab281;
  border-radius: 100px;
  cursor: pointer;
  color: #eab281;
  font-weight: 500;
  font-size: 1.125rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

button:hover,
.button:hover {
  background: #eab281;
  color: #0f1a2d;
}

@media (max-width: 63.9375em) {
  button,
  .button {
    font-size: 12px;
  }
}

form,
.form {
  width: 600px;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #508ca2;
  position: absolute;
  padding: 53px 100px;
  left: 50%;
  top: 83%;
}

@media (max-width: 63.9375em) {
  form,
  .form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  form h3,
  .form h3 {
    margin-top: 50px;
  }
  form button,
  .form button {
    width: 100%;
  }
  form::-webkit-scrollbar,
  .form::-webkit-scrollbar {
    display: none;
  }
}

form .closeBtn,
.form .closeBtn {
  margin-top: 0px;
  color: #0f1a2d;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

form .closeBtn:hover,
.form .closeBtn:hover {
  color: red;
}

form .error,
.form .error {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  color: #f24463;
}

form h3,
.form h3 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #0f1a2d;
}

form__input,
.form__input {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form__input:not(:last-child),
.form__input:not(:last-child) {
  margin-bottom: 16px;
}

form label,
.form label {
  position: absolute;
  height: 12px;
  left: 12px;
  top: -8px;
  bottom: 0%;
  z-index: 999;
  background: #508ca2;
  color: #0f1a2d;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

form input,
.form input {
  height: 56px;
  padding: 24px 48px;
  border: 1px solid #0f1a2d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: none;
  padding: 10px 24px;
  color: #0f1a2d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

form input::-webkit-input-placeholder,
.form input::-webkit-input-placeholder {
  color: #0f1a2d;
  font-weight: 400;
}

form input:-ms-input-placeholder,
.form input:-ms-input-placeholder {
  color: #0f1a2d;
  font-weight: 400;
}

form input::-ms-input-placeholder,
.form input::-ms-input-placeholder {
  color: #0f1a2d;
  font-weight: 400;
}

form input::placeholder,
.form input::placeholder {
  color: #0f1a2d;
  font-weight: 400;
}

form input:focus,
.form input:focus {
  border: 1px solid #eab281;
  outline: none;
}

form input:focus + label,
.form input:focus + label {
  color: #eab281;
}

form textarea,
.form textarea {
  height: 130px;
  background: none;
  resize: none;
  outline: none;
  padding: 12px 20px;
  border: 1px solid #0f1a2d;
  border-radius: 4px;
  color: #0f1a2d;
}

form textarea::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #0f1a2d;
}

form textarea:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #0f1a2d;
}

form textarea::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #0f1a2d;
}

form textarea::placeholder,
.form textarea::placeholder {
  color: #0f1a2d;
}

form textarea:focus,
.form textarea:focus {
  border: 1px solid #eab281;
  outline: none;
}

form textarea:focus + label,
.form textarea:focus + label {
  color: #eab281;
}

form button,
.form button {
  background: #eab281;
  color: #0f1a2d;
  margin: 12px 0px;
}

form button:hover,
.form button:hover {
  border: 1px solid #0f1a2d;
  color: #eab281;
  background: #0f1a2d;
}

form p,
.form p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #012c46;
  text-align: center;
}

form p span,
.form p span {
  color: #0f1a2d;
}

.server_message_error {
  position: fixed;
  z-index: 1;
  left: 50%;
  margin-left: -175px;
  top: 5%;
  width: 350px;
  display: none;
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #f24463;
}

@media (min-width: 64em) {
  .server_message_error {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -225px;
    top: 5%;
    width: 450px;
  }
}

.server_message_error p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.125rem;
}

.server_message_error a,
.server_message_error button,
.server_message_error .button {
  padding: 5px 12px;
  background: white;
  color: #f24463;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.server_message_error a:hover,
.server_message_error button:hover,
.server_message_error .button:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.server_message_error span {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.server_message_error span:hover {
  color: #0f1a2d;
}

.server_message_success {
  position: fixed;
  z-index: 1;
  left: 50%;
  margin-left: -175px;
  top: 5%;
  width: 350px;
  display: none;
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: #1ec264;
}

@media (min-width: 64em) {
  .server_message_success {
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: -225px;
    top: 5%;
    width: 450px;
  }
}

.server_message_success p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.125rem;
}

.server_message_success a {
  padding: 1px 12px;
  background: white;
  color: #1ec264;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.server_message_success a:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.server_message_success span {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.server_message_success span:hover {
  color: #0f1a2d;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero {
  background-color: #0f1a2d;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url("/front-end/public/src/img/heroImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center 0%;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 41rem;
    background-image: none;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/front-end/public/src/img/heroImg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center 58%;
    left: -7%;
  }
}

.hero__text {
  text-align: center;
}

.hero__text img {
  width: 163px;
  margin-bottom: 50px;
}

.hero__text h1 {
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

.hero__text h1 span {
  color: #eab281;
}

.hero__text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #508ca2;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
  .hero__text img {
    width: 200px;
  }
  .hero__text h1 {
    width: 700px;
    font-weight: 900;
    font-size: 4.5rem;
  }
  .hero__text p {
    width: 430px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    color: #508ca2;
  }
}

.feature {
  background-color: white;
  text-align: center;
}

@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}

.feature__intro {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 32px;
  text-align: center;
}

.feature__intro h3 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #0f1a2d;
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature__card {
  width: 100%;
  padding: 40px;
  border: 1px solid #508ca2;
  border-radius: 20px;
  margin-bottom: 25px;
}

.feature__card__logo {
  background: none;
}

.feature__card__content p {
  width: 100%;
  font-size: 1.125rem;
  color: #0f1a2d;
}

.feature__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feature__card__info img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.feature__card__info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature__card__info h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: #012c46;
}

.feature__card__info p {
  margin: 0;
  font-size: 1.125rem;
}

@media (min-width: 40em) {
  .feature__card {
    width: 49%;
    margin: 0 auto;
  }
}

.articles {
  background-color: #eab281;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5.875rem;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .article__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.article__item {
  overflow: hidden;
  background: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.article__title h1 {
  font-weight: 900;
  color: #012c46;
}

@media (max-width: 63.9375em) {
  .article__title h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    color: #012c46;
  }
}

.article__description {
  color: #012c46;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 63.9375em) {
  .article__description {
    text-align: center;
  }
}

.clients__intro {
  width: 100%;
}

.clients__intro h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #0f1a2d;
}

.clients__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5.875rem;
  margin: 0 auto;
}

.clients__images img {
  margin: 0 auto;
}

@media (min-width: 40em) {
  .clients__images {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 64em) {
  .clients__images {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    gap: 0.875rem;
  }
}

.solutions {
  background-color: #508ca2;
}

.solutions__intro {
  width: 100%;
}

.solutions__intro h3 {
  text-align: center;
  color: #0f1a2d;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.solutions .carousel-cell {
  margin-right: 50px;
  margin-left: 50px;
}

.solutions .carousel-cell img {
  width: 162px;
  height: 162px;
}

.solutions .carousel-cell p {
  width: 161px;
  height: 57px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 19px;
  text-align: center;
  color: #0f1a2d;
}

.solutions .carousel .flickity-button {
  background: none;
  color: #0f1a2d;
}

.banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f1a2d;
}

.banner__intro h3 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  color: #eab281;
}

.banner__content h1 {
  margin-top: 32px;
  margin-bottom: 64px;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #eab281;
}

@media (max-width: 63.9375em) {
  .banner__content h1 {
    font-size: 4rem;
  }
}

.banner__cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__cta button {
  border: 1px solid #508ca2;
  color: #508ca2;
}

.banner__cta button:hover {
  border: 1px solid #eab281;
  color: #eab281;
  background: none;
}

.contact {
  width: 100%;
}

@media (min-width: 64em) {
  .contact {
    width: 60%;
  }
}

@media (max-width: 63.9375em) {
  .contact {
    display: none;
  }
}

.contact__intro {
  padding-left: 10%;
}

.contact__intro h2 {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #508ca2;
}

@media (max-width: 63.9375em) {
  .contact__intro h2 {
    text-align: center;
  }
}

.contact__intro p {
  width: 437px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28px;
  color: #508ca2;
}

@media (max-width: 63.9375em) {
  .contact__intro p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 63.9375em) {
  .contact__intro {
    padding: 4.375rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  background-color: #0f1a2d;
  height: 368px;
  color: white;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .footer {
    padding: 25px 0px;
  }
}

.footer__content {
  width: 100%;
  height: 100%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content img {
  width: 100px;
  height: 80px;
  margin: 25px auto;
}

@media (min-width: 64em) {
  .footer__content img {
    margin-right: 25px;
    margin-top: 2px;
    width: 180px;
    height: 140px;
  }
}

@media (max-width: 63.9375em) {
  .footer__content .info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__content .location {
  color: #eab281;
  font-size: 1.125rem;
}

.footer__content .location h3 {
  width: 200px;
  margin: 0px;
  color: #eab281;
  font-weight: 900;
}

@media (min-width: 64em) {
  .footer__content .location h3 {
    margin: 5px auto;
  }
}

.footer__content .location p {
  text-align: start;
  margin: 0px;
}

.footer__content .powered h3 {
  color: #eab281;
  margin-bottom: 0px;
}

@media (min-width: 64em) {
  .footer__content {
    width: 30%;
    padding-bottom: 25px;
  }
}
/*# sourceMappingURL=style.css.map */