.contact {
  width: 50%;

  &__intro {
    h2 {
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: $font-lg;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: $lightBlue;
    }

    p {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 500;
      font-size: $font-med;
      line-height: 28px;
      color: $lightBlue;
    }
  }
}
