.feature {
  background-color: $white;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: center;
  }

  &__intro {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 32px;

    h3 {
      width: 100%;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
    }
  }

  &__card {
    width: 100%;
    padding: 40px;
    border: 1px solid red;

    &__logo {
    }

    @include breakpoint-up(medium) {
      width: 50%;
    }
  }
}
