.feature {
  background-color: $white;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__intro {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 32px;
    text-align: center;

    h3 {
      font-family: "Ruda";
      font-style: normal;
      font-weight: 900;
      font-size: $font-med;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.03em;
      color: $darkBlue;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__card {
    width: 100%;
    padding: 40px;
    border: 1px solid $lightBlue;
    border-radius: 20px;
    margin-bottom: 25px;

    &__logo {
      background: none;
    }

    &__content {
      p {
        width: 100%;
        font-size: $font-sm;
        color: $darkBlue;
      }
    }

    &__info {
      display: flex;
      justify-content: flex-start;

      img {
        width: 60px;
        height: 60px;
        margin-right: 25px;
      }

      .author {
        display: flex;
        flex-direction: column;
      }

      h3 {
        margin: 0;
        font-size: $font-sm;
        font-weight: 700;
        color: $mediumBlue;
      }

      p {
        margin: 0;
        font-size: $font-sm;
      }
    }

    @include breakpoint-up(medium) {
      width: 49%;
      margin: 0 auto;
    }
  }
}
