html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Ruda", sans-serif;
  font-size: $font-sm;
  font-weight: 400;
  color: $grayishBlue;
  line-height: 1.3;
  min-height: 300vh;
  overflow-x: hidden;

  @include breakpoint-up(large) {
    font-size: $font-med;
  }

  &.noscroll {
    overflow: hidden;
  }
}

//Texto

h1,
h2,
h3 {
  font-weight: 500;
  font-size: $font-sm;
  line-height: 1.15;
  color: $lightBlue;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;

  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;

  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Espaçamento

.container {
  max-width: 90.375rem;
  margin: 0 auto;

  &--pall {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--py {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &--pt {
    padding-top: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
    }
  }

  &--pr {
    padding-right: 1.5rem;
  }

  &--pb {
    padding-bottom: 4.375rem;

    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }

  &--pl {
    padding-left: 1.5rem;
  }
}

//Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Buttons

button,
.button {
  display: inline-block;
  padding: 25px 50px;
  background: none;
  border: 1px solid $orangeIsh;
  border-radius: 100px;
  cursor: pointer;
  color: $orangeIsh;
  font-weight: 500;
  font-size: $font-sm;
  transition: all 300ms ease-in-out;

  &:hover {
    background: $orangeIsh;
    color: $darkBlue;
  }
}

// Responsivo

.hide-for-mobile {
  // tablet e telefones
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //versão para computadores
  @include breakpoint-up(large) {
    display: none;
  }
}
