.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Ruda", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #c4c4c4;
  line-height: 1.3;
  min-height: 300vh;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.5rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.15;
  color: #508ca2;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 90.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 25px 50px;
  background: none;
  border: 1px solid #eab281;
  border-radius: 100px;
  cursor: pointer;
  color: #eab281;
  font-weight: 500;
  font-size: 1.125rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

button:hover,
.button:hover {
  background: #eab281;
  color: #0f1a2d;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero {
  background-color: #0f1a2d;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url("/src/img/heroImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center 0%;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 41rem;
    background-image: none;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/src/img/heroImg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center 58%;
    left: -7%;
  }
}

.hero__text {
  text-align: center;
}

.hero__text img {
  width: 163px;
  margin-bottom: 50px;
}

.hero__text h1 {
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

.hero__text h1 span {
  color: #eab281;
}

.hero__text p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #508ca2;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
  .hero__text img {
    width: 200px;
  }
  .hero__text h1 {
    width: 700px;
    font-weight: 900;
    font-size: 4.5rem;
  }
  .hero__text p {
    width: 430px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    color: #508ca2;
  }
}

.feature {
  background-color: white;
  text-align: center;
}

@media (min-width: 40em) {
  .feature {
    text-align: center;
  }
}

.feature__intro {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 32px;
}

.feature__intro h3 {
  width: 100%;
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature__card {
  width: 100%;
  padding: 40px;
  border: 1px solid red;
}

@media (min-width: 40em) {
  .feature__card {
    width: 50%;
  }
}

.articles {
  background-color: #fafafa;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .article__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.article__item {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #c4c4c4;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.562rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #0f1a2d;
  margin-bottom: 0.75rem;
}

.article__description {
  font-size: 0.8125rem;
}

.footer {
  background-color: #0f1a2d;
  color: white;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 3fr;
        grid-template-columns: 2fr 1fr 1fr 3fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
}

.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #0f1a2d;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

.footer__links a {
  line-height: 2.25;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer__links a:hover {
  color: #0f1a2d;
}

@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #c4c4c4;
}

@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer .attribution {
  margin-top: 4rem;
  font-size: 0.875rem;
}
/*# sourceMappingURL=style.css.map */